<html>

    <title>Edit Seller Profile</title>
    <%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %> 

        <h1>Edit your seller profile.</h1>

        <form action="/api/updateProfile"></form>

    </body>

</html>